# FILE: /etc/systemd/system/calibre.service
#
# Calibre "Digital Library" boot-time startup script.
#
# This script is a systemd service unit that ensures the Calibre Web
# server is operational. Without this process running, the digital
# library is not available over a Web (HTTP) connection.
[Unit]
Description=Calibre eBook Management suite Web server

[Service]
User={{ calibre_server_username }}
Group=nogroup
UMask=0005
Type=forking
{# TODO: Should this become a systemd template so more than one server can run…? #}
RuntimeDirectory={{ calibre_server_username }}
PIDFile=/var/run/{{ calibre_server_username }}/calibre-server.pid
# Place other configuration options, if desired, in the invocation. For example:
#     --url-prefix=library --port=8888
# The escape sequence `\x20` is interpreted by systemd as a literal space character.
ExecStart=/usr/bin/calibre-server --daemonize --pidfile=/var/run/{{ calibre_server_username }}/calibre-server.pid --with-library={{ item.library_dir | replace(' ', '\\x20') }} --port={{ item.listen_port }}
ExecStop=/bin/kill $(cat /var/run/{{ calibre_server_username }}/calibre-server.pid)
Restart=on-failure
# Extra security precautions
# Calibre is currently incompatible with `MemoryDenyWriteExecute=true`. :(
#MemoryDenyWriteExecute=true
NoNewPrivileges=true
PrivateDevices=true
PrivateTmp=true
PrivateUsers=true
ProtectControlGroups=true
ProtectHome=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectSystem=full
LockPersonality=true
# Do we really need AF_UNIX capabilities?
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
RestrictRealtime=true

[Install]
WantedBy=multi-user.target
